    <header></header>
    <div class="page-content">
      <div class="div">
<div class="ww-home-page" id="home">
  <div class="ww-wedding-announcement d-flex align-items-center justify-content-start">
    <div class="container ww-announcement-container">
      <p class="ww-couple-name ww-title" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000">Kim & Angelina</p>
      <div class="save-the-date-img" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000">
        <%= image_tag "laurel-1.png", class: "img-fluid mt-1" %>
      </div>
      <p class="h2 mt-5 ww-title" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000" data-aos-offset="10">20<sup></sup>.08.2020</p>
    </div>
  </div>
</div>
<div class="ww-nav-bar sticky-top bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a href="#"><svg class="heart" viewBox="0 0 32 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
</svg></a>
      <h1 class="h2"><a class="pl-4 navbar-brand" href="#">Наша свадьба</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ww-navbarNav" aria-controls="ww-navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse text-uppercase" id="ww-navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#home">Главная</a></li>
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#events">Торжество</a></li>
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#gallery">Галерея</a></li>
          <li class="nav-item"><a class="nav-link smooth-scroll" href="#rsvp">Приглашение</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="ww-section bg-light" id="events">
  <div class="container ww-wedding-event">
    <h2 class="h1 text-center pb-3 ww-title" data-aos="zoom-in-down" data-aos-duration="1000">Торжество</h2>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="my-3">
          <div class="h4">Свадебный вечер</div>
          <ul>
            <li><i class="text-muted fas fa-map-marker-alt"></i><span class="pl-2 text-muted">Брестский р-н, д. Тюхиничи 8 ой км трассы М1</span></li>
            <li class="pt-2"><i class="text-muted far fa-calendar-alt"></i><span class="pl-2 text-muted">20 Авг 2020, 14:00</span></li>
          </ul>
          <p>Ресторан «Рынькаускi палац» располагается в загородной усадьбе «Рынькаука» в окрестностях Бреста..
          Все залы имеют профессиональное световое и звуковое оснащение, оборудованы системой кондиционирования воздуха, беспроводным интернетом (бесплатный Wi-Fi). Для комфортного пребывания у нас в инфраструктуру усадьбы входят детская площадка и автомобильная парковка.</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="my-3" alt="Wedding place" data-aos="fade-down-right" data-aos-duration="1000">
          <%= image_tag "wedding-party.jpg", class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ww-section bg-light" id="gallery">
  <div class="ww-photo-gallery">
    <div class="container">
      <h2 class="h1 text-center pb-3 ww-title" data-aos="zoom-in-down" data-aos-duration="1000">Галерея</h2>
      <div class="col-md-12 text-center ww-category-filter mb-4">
        <a class="btn btn-outline-primary ww-filter-button" href="#" data-filter="all">Все</a>
        <a class="btn btn-outline-primary ww-filter-button" href="#" data-filter="we_are">Мы</a>
        <a class="btn btn-outline-primary ww-filter-button" href="#" data-filter="place">Место торжества</a></div>
      <div class="ww-gallery" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-duration="1000" data-aos-offset="0">
        <div class="card-columns">

          <div class="card" data-groups="[&quot;place&quot;]"><a href="images/gallery-pic-1.jpg" data-toggle="lightbox" data-gallery="ww-gallery">
            <%= image_tag "place-1.jpg", class: "img-fluid" %></a></div>
          <div class="card" data-groups="[&quot;place&quot;]"><a href="images/gallery-pic-1.jpg" data-toggle="lightbox" data-gallery="ww-gallery">
            <%= image_tag "place-2.jpg", class: "img-fluid" %></a></div>
          <div class="card" data-groups="[&quot;place&quot;]"><a href="images/gallery-pic-1.jpg" data-toggle="lightbox" data-gallery="ww-gallery">
            <%= image_tag "place-3.jpg", class: "img-fluid" %></a></div>
          <div class="card" data-groups="[&quot;place&quot;]"><a href="images/gallery-pic-1.jpg" data-toggle="lightbox" data-gallery="ww-gallery">
            <%= image_tag "place-4.jpg", class: "img-fluid" %></a></div>

          <div class="card" data-groups="[&quot;we_are&quot;]"><a href="images/gallery-pic-3.jpg" data-toggle="lightbox" data-gallery="ww-gallery"><%= image_tag "we_are.jpg", class: "img-fluid" %></a></div>
          <div class="card" data-groups="[&quot;we_are&quot;]"><a href="images/gallery-pic-5.jpg" data-toggle="lightbox" data-gallery="ww-gallery"><%= image_tag "we_are1.jpg", class: "img-fluid" %></a></div>
          <div class="card" data-groups="[&quot;we_are&quot;]"><a href="images/gallery-pic-7.jpg" data-toggle="lightbox" data-gallery="ww-gallery"><%= image_tag "we_are2.jpg", class: "img-fluid" %></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ww-section ww-rsvp-detail text-white" id="rsvp">
  <div class="container" data-aos="zoom-in-up" data-aos-duration="1000">
    <div class="col text-center">
      <h2 class="h1 ww-title pb-3" data-aos="zoom-in-down" data-aos-duration="1000">Будем рады вас видеть</h2>
    </div>
    <div class="row ww-rsvp-form">
      <div class="col-md-10">
        <div class="card-body">
          <form action="https://formspree.io/example@email.com" method="POST">
            <div class="row">
              <div class="col md-6 pb-3">
                <div class="form-group">
                  <label for="name-input">Ваше имя*</label>
                  <input class="form-control" id="name-input" type="text" name="name" required="required"/>
                </div>
              </div>
              <div class="col md-6 pb-3">
                <div class="form-group">
                  <label for="guest-input">Кол-во Гостей</label>
                  <select class="form-control" id="guest-input" name="guest">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="message-input">Сообщение</label>
                  <textarea class="form-control" id="message-input" name="message" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-primary btn-submit" type="submit">Отправить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ww-footer bg-light">
  <div class="container text-center py-4">
    <p class="my-0">&copy; Wonderful Wedding. Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
  </div>
</div></div>
    </div>
    <footer></footer>
